.grid-cell {
}

.navStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #690a0a;
  color: #fff;
  width: 100%;
}

.supermarket-map {
  border: 1px solid red;
  /* Change this line to set the background color to black */
}

/* Tambahkan CSS berikut untuk mengatur checkbox dalam satu baris */
