.navStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 400px;
  height: fit-content;
  padding: 20px;
  background-color: #1c58a7;
  color: #fff;
  width: 100%;
}

.supermarket-map {
  /* Change this line to set the background color to black */
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  padding-left: 20px;
  gap: 10px;
}

.item-container {
  display: flex;
  flex-direction: column;
  overflow: "hidden";
  width: 100%;
  height: 600px;
}

.list-item {
  list-style: none;
  padding: 10px 10px;
  margin-right: 20px;
  border: 1px solid gray;
}

.list-title-container button {
  visibility: hidden;
}

@media (max-width: 768px) {
  .checkbox-container {
    padding-left: 10px;
  }
  .navStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: fit-content;

    background-color: #1c58a7;
    color: #fff;
    width: 100vhw;
  }
  .list-title-container {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    justify-content: space-between;
  }

  .list-title-container button {
    visibility: visible;
  }
}
